BODY, TH, TD, TR, P, CAPTION, H1, H2, H3, H4, IMG, TABLE {
  font-family: sans-serif;
}

PRE, CODE {
  font-family: courier;
}

BODY {
  background-color: white;
  margin-left: 160px;
  background-image: url(http://www.ps.uni-sb.de/www/img/page.gif);
}

P {
  text-align: justify;
}

P.margin {
  text-align: left;
}

H1.title {
  text-align: center;
}

H1 {
  color: #9B0000;
}

H2.authors {
  text-align: center;
}

H2 {
  color: #FF9933;
  font-size: medium;
}

H3 {
  color: #888888;
  font-size: medium;
}

H4 {
  color: #AAAAAA;
  font-size: medium;
}

CODE {
  color: #000000;
  font-size: 12pt;
}

SPAN.comment      { color: #B22222; }
SPAN.keyword      { color: #A020F0; }
SPAN.string       { color: #BC8F8F; }
SPAN.functionname { color: #0000FF; }
SPAN.type         { color: #228B22; }
SPAN.variablename { color: #B8860B; }
SPAN.reference    { color: #5F9EA0; }

.margin {
  position: absolute;
  left: 10px;
  width: 130px;
}

A:link {
  color: #666666;
}

A:visited {
  color: black;
}

.margin A:link {
  color: black;
}

.ignore {
  display: none;
}
